body {
	color: white;
	background-color: black;
}
main,
footer {
	text-align: center;
}

footer {
	position: fixed;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 40vh;
}

h1,.h1 {
	display: block;
	margin: 2rem 0;
	font-family: "Times New Roman";
	font-size: 6em;
	font-weight: 700;
	text-align: center; 
}



.h1::after {
	content: '';
	border-right: 5px solid white;
	animation: blink .8s infinite;
}

.c-heartshaped__box {
	position: relative;
	margin: 0 auto;
	width: 180px;
	height: 141px;
}

.c-heartshaped__box span,
.c-heartshaped__box::before,
.c-heartshaped__box::after {
	position: absolute;	
	width: 100px;
	height: 100px;
	background-color: red;
}

.c-heartshaped__box::before,
.c-heartshaped__box::after {
	content: '';
	top: 0;
	border: 1px solid red;
	border-radius: 50%;
}

.c-heartshaped__box span {
	display: block;
	bottom: 0;
	left: 40px;
	transform: rotate(45deg);
}

.c-heartshaped__box::before {
	left: 0;	
}
.c-heartshaped__box::after {
	right: 0;
}

.c-heartshaped__box {
	animation: heartbeat 1.8s infinite;
}
.c-heartshaped__box:hover {
	animation-duration: .8s;
}

svg {
  width: 100px;
  fill: hotpink;
  overflow: visible;
}

/*svg:hover path {
	transform-origin: center;
	transition: .3s ease-in; 
	fill: orangered;
  d: path("M5.016 16c-1.066-2.219-0.498-3.49 0.321-4.688 0.897-1.312 1.129-2.61 1.129-2.61s0.706 0.917 0.423 2.352c1.246-1.387 1.482-3.598 1.293-4.445 2.817 1.969 4.021 6.232 2.399 9.392 8.631-4.883 2.147-12.19 1.018-13.013 0.376 0.823 0.448 2.216-0.313 2.893-1.287-4.879-4.468-5.879-4.468-5.879 0.376 2.516-1.364 5.268-3.042 7.324-0.059-1.003-0.122-1.696-0.649-2.656-0.118 1.823-1.511 3.309-1.889 5.135-0.511 2.473 0.383 4.284 3.777 6.197z");
}*/

@keyframes heartbeat {
  0% { transform: scale(1); }
  10% { transform: scale(.8);  }
  19% { transform: scale(1.1); }
  27% { transform: scale(.8); }
  89% { transform: scale(.8); }
  100%  { transform: scale(1); }
}


@keyframes blink {
  0% { opacity: 1; }
  100%  {  opacity: 0; }
}